#order-confirmation {
  width: 100%;
  max-width: 72rem;
  margin-bottom: 2rem;
}

.confirm-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.confirm-wrapper h3 {
  font-weight: 500;
  padding: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
.confirm-wrapper h4 {
  margin-bottom: 1rem;
}
.confirm-wrapper p {
  margin-bottom: 1rem;
  font-size: 1rem;
}
/* left */
.display-order-confirm img {
  width: 100%;
  object-fit: cover;
}
/* right */
.order-details {
  display: grid;
  gap: 1rem;
}

.address,
.billing-address,
.contact-details,
.order-summary {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.tax,
.total {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .confirm-wrapper {
    grid-template-columns: 1fr;
  }
}
